@{
    ViewData["Title"] = "COMP2084 Video Game Shop";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the COMP2084 Video Game Store</h1>
    <p>This site is built in the Monday class using .NET</p>
    <p>GitHug <a href="https://github.com/Rynestrm/COMP2084GameSite">GitHub Repo</a></p>
</div>
